{
    "presets":[
        ["es2015", {
          "modules": false,
          "useBuiltIns": "usage"
        }],
        "stage-0"
    ],
    "env": {
      "test": {
        "presets": ["es2015"]
      }
    },
    "plugins":[
      [
        "syntax-dynamic-import",
        "transform-runtime",
        "component",
        {
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
}