* {
  padding: 0;
  margin: 0;
}
html, body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.flex-column (@justContent: center, @alignItem: center) {
  display: flex;
  flex-direction: column;
  justify-content: @justContent;
  align-items: @alignItem;
}
.flex-initial (@justContent: center, @alignItem: center) {
  display: flex;
  flex-direction: initial;
  justify-content: @justContent;
  align-items: @alignItem;
}
