@font-face {
  font-family: 'blog';  /* project id 1057250 */
  src: url('//at.alicdn.com/t/font_1057250_51337yuhxo2.eot');
  src: url('//at.alicdn.com/t/font_1057250_51337yuhxo2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1057250_51337yuhxo2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1057250_51337yuhxo2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1057250_51337yuhxo2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1057250_51337yuhxo2.svg#iconfont') format('svg');
}

.iconfont{
  font-family: "blog";
  font-size: 24px;
  font-style: normal;
}

.icon-zhihu::before {
  content: "\e64a";
}
