@font-face {
  font-family: 'blog';  /* project id 1057250 */
  src: url('//at.alicdn.com/t/font_1057250_doydr2rylxs.eot');
  src: url('//at.alicdn.com/t/font_1057250_doydr2rylxs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1057250_doydr2rylxs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1057250_doydr2rylxs.woff') format('woff'),
  url('//at.alicdn.com/t/font_1057250_doydr2rylxs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1057250_doydr2rylxs.svg#iconfont') format('svg');
}

.iconfont{
  font-family: "blog";
  font-size: 24px;
  font-style: normal;
}

.icon-zhihu::before {
  content: "\e64a";
}
